In [3]:
import pandas as pd

In [4]:
# Criando um dicionário
dados ={'Estado':['Santa Catarina','Rio de Janeiro','Tocantins','Bahia','Minas Gerais'],
        'Ano':[2004,2005,2006,2007,2008],
        'Taxa Desemprego':[1.5,1.7,1.6,2.4,2.7]}

In [5]:
print(dados)

{'Estado': ['Santa Catarina', 'Rio de Janeiro', 'Tocantins', 'Bahia', 'Minas Gerais'], 'Ano': [2004, 2005, 2006, 2007, 2008], 'Taxa Desemprego': [1.5, 1.7, 1.6, 2.4, 2.7]}

In [7]:
from pandas import DataFrame

In [8]:
#Convertendo o dicionário  em um dataframe
df=DataFrame(dados)

In [9]:
#Visualize as 5 primeiras linhas
df.head()

           Estado   Ano  Taxa Desemprego
0  Santa Catarina  2004              1.5
1  Rio de Janeiro  2005              1.7
2       Tocantins  2006              1.6
3           Bahia  2007              2.4
4    Minas Gerais  2008              2.7

In [10]:
type(df)

pandas.core.frame.DataFrame

In [11]:
#Reorgnizando as colunas
DataFrame (dados,columns =['Estado','Taxa Desemprego','Ano'])

           Estado  Taxa Desemprego   Ano
0  Santa Catarina              1.5  2004
1  Rio de Janeiro              1.7  2005
2       Tocantins              1.6  2006
3           Bahia              2.4  2007
4    Minas Gerais              2.7  2008

In [18]:
# Criando outro dataframe com os mesmos dados anteriores mas adicionando uma coluna e Alterar a coluna indice
df2=DataFrame(dados,
              columns = ['Estado','Taxa Desemprego','Taxa Crescimento','Ano'],
              index=['estado1','estado2','estado3','estado4','estado5'])

In [19]:
print(df2)

                 Estado  Taxa Desemprego Taxa Crescimento   Ano
estado1  Santa Catarina              1.5              NaN  2004
estado2  Rio de Janeiro              1.7              NaN  2005
estado3       Tocantins              1.6              NaN  2006
estado4           Bahia              2.4              NaN  2007
estado5    Minas Gerais              2.7              NaN  2008

In [20]:
df.values

array([['Santa Catarina', 2004, 1.5],
       ['Rio de Janeiro', 2005, 1.7],
       ['Tocantins', 2006, 1.6],
       ['Bahia', 2007, 2.4],
       ['Minas Gerais', 2008, 2.7]], dtype=object)

In [22]:
df.dtypes

Estado              object
Ano                  int64
Taxa Desemprego    float64
dtype: object

In [23]:
df2.columns

Index(['Estado', 'Taxa Desemprego', 'Taxa Crescimento', 'Ano'], dtype='object')

In [25]:
# Imprimindo apenas uma coluna do Dataframe - Linguagem Python é casesensitive
df2['Estado']

estado1    Santa Catarina
estado2    Rio de Janeiro
estado3         Tocantins
estado4             Bahia
estado5      Minas Gerais
Name: Estado, dtype: object

In [28]:
#Imprimindo apenas 2 colunas do dataframe
df2[['Taxa Desemprego','Ano']]

         Taxa Desemprego   Ano
estado1              1.5  2004
estado2              1.7  2005
estado3              1.6  2006
estado4              2.4  2007
estado5              2.7  2008

In [30]:
#Retorna somente o indice
df2.index

Index(['estado1', 'estado2', 'estado3', 'estado4', 'estado5'], dtype='object')

In [31]:
#Filtrando pelo indice
df2.filter(items=['estado3'],axis=0)

            Estado  Taxa Desemprego Taxa Crescimento   Ano
estado3  Tocantins              1.6              NaN  2006